/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.site-header {
  background: #004aad;
  color: #fff;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.site-header h1 {
  font-size: 24px;
}

.site-header nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.site-header nav a:hover {
  text-decoration: underline;
}


.store {
  flex: 1 1 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.product-grid {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  flex: 1 1  200px;
  max-width: 600px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  background: #e0e0e0;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  border-radius: 6px;
  font-weight: bold;
  color: #555;
}

.product-price {
  font-size: 18px;
  margin-bottom: 12px;
  color: #000;
}

.add-btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}

.add-btn:hover {
  background: #0056b3;
}

/* FOOTER */
.site-footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}